DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
SLAPI_CACHE_DIRECTORY=.cache
SLAPI_UPSTREAM_BASE_URL=https://www.basketball-bund.net/static/#/ligaauswahl
SLAPI_ADMIN_USER=admin
SLAPI_ADMIN_PASSWORD=change-me
SLAPI_API_TOKEN=your-secret-api-token-here

